.App-logo {
    height: 10vmin;
    pointer-events: none;
    align-self: flex-start;
    padding-left: 90px;
  }
  
  .App-header {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    z-index: 9;
    position: fixed;
    margin: 0 auto;
  }