@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container {
    min-height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    overflow: visible;
    margin: auto;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.program-details {
    display:flex;
    gap: 20px;
    align-items:center;
    justify-content:center;
    width: 100%;
}

.image {
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    flex-grow: 1;
}

.image-col {
    padding-left: 5%;
    justify-content:center;
    flex-basis: 20%;
 }

 .text-col {
    display:block;
    justify-content: center;
    align-self: flex-start;
    flex-grow: 2;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 500%;
    color: white;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    color: white;
}

.description {
    font-family: "Open Sans", sans-serif;
    color: white;
}