@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.image {
    height: 600px;
    width: 420px;
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 100%;
    color: white;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    color: white;
}

.description {
    font-family: "Open Sans", sans-serif;
    color: white;
}

.program-details {
    align-self: left;
    display: flex;
    align-items: left;
    overflow: visible;
    margin: auto;
    position:static;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}